<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.lshtom.dao.mapper.TArchivesInfoDAO">


    <select id="queryAll" resultType="com.github.lshtom.dao.model.TArchivesInfo">
        SELECT * FROM t_archives_info i
        <where>
            <if test="archivesInfoId != null">
                AND i.archives_info_id = #{archivesInfoId}
            </if>
            <if test="archivesCode != null">
                AND i.archives_code LIKE CONCAT('%', #{archivesCode}, '%')
            </if>
        </where>
    </select>

    <select id="pageQuery" resultType="com.github.lshtom.dao.model.TArchivesInfo" parameterType="com.github.lshtom.dao.model.TArchivesInfo">
        SELECT * FROM t_archives_info i
        <where>
            <if test="archivesInfoId != null">
                AND i.archives_info_id = #{archivesInfoId}
            </if>
            <if test="archivesCode != null">
                AND i.archives_code LIKE CONCAT('%', #{archivesCode}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.github.lshtom.dao.model.TArchivesInfo" parameterType="long">
        SELECT * FROM t_archives_info i WHERE i.archives_info_id = #{archivesInfoId}
    </select>

    <insert id="insert" parameterType="com.github.lshtom.dao.model.TArchivesInfo">
        INSERT INTO t_archives_info (unique_code,archives_code,source_system,business_group,creation_date) VALUES (#{uniqueCode},#{archivesCode},#{sourceSystem},#{businessGroup},#{creationDate})
    </insert>

</mapper>